* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.hero-section {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-section::before {
  content: "";
  background-image: url("../../public/pexels-fauxels-3184418.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  filter: brightness(50%);
}
.heading {
  position: absolute;
  color: #ffffff;
  font-size: 5rem;
  line-height: 0.9;
  top: 32%;
  left: 5%;
}
.about-container {
  margin: 9%;
}
.vision-container {
  margin: 9%;
  display: flex;
  flex-wrap: wrap;
}

.vision {
  height: auto;
  background-color: #e6e6e6;
  padding: 1vw;
  width: 30%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin-right: 3.33%;
  color: #333333;
}

.icon {
  height: 7vw;
  width: 7vw;
  border: 2px solid rgb(255, 255, 255);
  padding: 1vw;
  border-radius: 50%;
  background: linear-gradient(90deg, #c3363d 0%, #76171c 100%);
  color: white;
  display: block;
  margin-bottom: 20vw;
}

.content {
  margin-left: 1vw;
}

.leadership-section {
  padding: 9%;
  background-color: #e6e6e6;
}

.leader-heading {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #c3363d;
  font-size: 55px;
}

.leader-container {
  display: flex;
  margin-top: 3vw;
}

.leader-img {
  background-size: cover;
  width: 35%;
  background-position: center;
}

.l1 {
  background-image: url("../../public/images/l1.jpg");
}

.l2 {
  background-image: url("../../public/images/l2.jpg");
}

.l3 {
  background-image: url("../../public/images/l3.jpg");
}

.leader {
  background-color: #c3363d;
  width: 75%;
  color: white;
  padding: 5vw;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .main-img {
    height: 300px;
  }

  .heading {
    font-size: 30px;
  }

  .about-container {
    margin: 3vw;
  }

  .icon {
    height: 8vw;
    width: 8vw;
    padding: 0.8vw;
    margin-bottom: 10vw;
  }

  .vision {
    width: 100%;
    margin: 0;
    margin-bottom: 5vw;
  }

  .leader-container {
    display: block;
    margin-top: 3vw;
  }

  .leader-img {
    width: 100%;
    min-height: 23rem;
    height: auto;
    background-size: cover;
    background-position: center;
  }

  .leader {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .main-img {
    height: 200px;
  }
  .leader-img {
    width: 100%;
    min-height: 25rem; /* Adjust the height according to your design */
    height: auto;
    background-size: cover;
    background-position: center;
  }
}
/* Media queries for leader image responsiveness */
@media only screen and (min-width: 600px) {
  .main-img {
    height: 300px;
  }
  .leader-img {
    width: 100%;
    min-height: 35rem; /* Adjust the height according to your design */
    height: auto;
    background-size: cover;
    background-position: center;
  }
}

@media only screen and (min-width: 768px) {
  .main-img {
    height: 400px;
  }
  .leader-img {
    width: 45%;
    min-height: 30rem;
  }
  .leader {
    width: 55%;
  }
}

@media only screen and (min-width: 992px) {
  .main-img {
    height: 400px;
  }
  .leader-img {
    width: 40%;
    min-height: 30rem;
  }
  .leader {
    width: 60%;
  }
}
@media only screen and (min-width: 1200px) {
  .main-img {
    height: 500px;
  }
  .leader-img {
    width: 30%;
    min-height: 30rem;
  }
  .leader {
    width: 70%;
  }
}
