* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.hero-section {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-section::before {
  content: "";
  background-image: url("../assets/contact.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.heading {
  position: absolute;
  color: #ffffff;
  font-size: 5rem;
  line-height: 0.9;
  top: 32%;
  left: 5%;
}
.contact-container {
  width: 100%;
  height: auto;
  padding: 9%;
  background-color: #e6e6e6 ;
}
.contact-heading {
  display: flex;
  justify-content: center;
  text-align: center;
  color:  #c3363d;
  font-size: 55px;
}
/* ContactUs.module.css */
.form {
  padding-top: 9%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input,
.textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  min-width: 900px;
}
.input1 {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  min-width: 430px;
  margin-right: 20px;
}
.textarea {
  resize: vertical;
  height: 150px;
}

.button {
  padding: 10px 20px;
  background-color: #c3363d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: black;
  color:  #e6e6e6;
}

/* ContactUs.module.css */
.formGroup {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

/* ContactUs.module.css */
.nameGroup {
  display: flex;
  justify-content: space-between;
}

.inputGroup {
  width: 48%; /* Adjust width as needed */
}

.inputGroup label {
  display: block;
  margin-bottom: 5px;
}

.error {
  color: #e6e6e6;
  font-size: 0.8rem;
  display: block;
}
@media only screen and (max-width: 992px) {
  .input,
  .textarea {
    width: 100%;
    min-width: 640px;
  }
  .input1 {
    width: 100%;
    min-width: 300px;
    margin-right: 20px;
  }
}
@media only screen and (max-width: 700px) {
  .input,
  .textarea {
    width: 100%;
    min-width: 400px;
  }
  .input1 {
    margin-left: 14px;
    min-width: 400px;
  }
  .nameGroup {
    display: block;
  }
}
@media only screen and (max-width: 600px) {
  .input,
  .textarea {
    width: 100%;
    min-width: 270px;
  }
  .input1 {
    margin-left: 14px;
    min-width: 270px;
  }
  .nameGroup {
    display: block;
  }
}
