/**{
   margin: 0px;
   padding: 0px;
}
.hero_section{
   background-image: url(../../public/home-header.jpg);
   background-size: cover;
   height: 490px;
   width: 100%;
}
.main{
   color: white;
   position: relative;
   top: 30%;
   display: block;
   padding-left: 250px;
   font-family: 'Montserrat', sans-serif;
}
.main_header{
   letter-spacing: 5px;
   font-weight:bolder;
}
.secondary_header{
   letter-spacing: 3px;
   margin-top: 21px;
   background-color: #cf2e2e;
   display: inline-block;
}

.button{
   margin-top: 21px;
   padding: 10px 16px;
   color: #cf2e2e;
   background-color: white;
   display: inline-block;
   font-size: 11px;
   line-height: 11px;
   font-weight: 700;
}
.partner-section{
   background-color: #f3f3f3;
   padding-left: 75px;
   padding-right: 75px;
   height: 400px;
   width:100%;
}
.partner-title{
   height: 125px;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 24px;
   font-weight: 700;
   line-height: 1.3;
   color: #333333;
}
.partner-card{
   height: 200px;
   width: 222px;
   background-color: #f3f3f3;
   border:1px solid #333333;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}
.img{
   width: 100%;
   height: 30px;
}
.partner-container{
   display: flex;
   flex-wrap: wrap;
}
@media (max-width :980px){
   .hero_section{
      height: 80vh;
      width: 100%;
   }
   .main{
      top: 20%;
      display: block;
      padding-left: 25vw;
      font-family: 'Montserrat', sans-serif;
   }
}*/

* {
  margin: 0px;
  padding: 0px;
}

.hero_section {
  background-image: url(../../public/home-header.jpg);
  background-size: cover;
  height: 490px;
  width: 100%;
}

.main {
  color: white;
  position: relative;
  top: 30%;
  display: block;
  padding-left: 250px;
  font-family: "Montserrat", sans-serif;
}

.main_header {
  letter-spacing: 5px;
  font-weight: bolder;
}

.secondary_header {
  letter-spacing: 3px;
  margin-top: 21px;
  background-color: #cf2e2e;
  display: inline-block;
}

.button {
  margin-top: 21px;
  padding: 10px 16px;
  color: #cf2e2e;
  background-color: white;
  display: inline-block;
  font-size: 11px;
  line-height: 11px;
  font-weight: 700;
}
.button:hover {
  color: white;
  background-color: #cf2e2e;
}
.partner-section {
  background-color: #e6e6e6;
  padding-left: 5%;
  padding-right: 5%;
  height: auto;
  width: 100%;
  padding-bottom: 5%;
}
.partner-title {
  height: 125px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3;
  color: #333333;
}

.partner-card {
  height: 200px;
  width: 18%;
  background-color: #f3f3f3;
  border: 1px solid #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.img {
  width: 100%;
  height: 30px;
}

.partner-container {
  display: flex;
  flex-wrap: wrap;
  gap:2%;
}
.partner-card.zoomIn {
   animation: zoomIn 1s;
 }
 
 @keyframes zoomIn {
   from {
     transform: scale(1);
   }
   to {
     transform: scale(1.1);
   }
 }
 
 
@media screen and (max-width: 768px) {
  .main {
    padding-left: 20px;
  }
  .partner-card {
    width: 100%;
    height: 130px;
  }
}
@media screen and (max-width: 850px) {
  .partner-card {
    width: 100%;
    height: 130px;
  }
}
